# Eclipse Files #
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath


# Java Files #

*.class

# Package Files #
*.jar
*.war
*.ear

# Mac files
.DS_Store

# Maven files
target/

