header {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 10px;
}

footer {
	border-top: 1px solid #e5e5e5;
	margin-top: 10px;
}

header,footer {
	padding: 10px
}

section {
	border-bottom: 1px solid #e5e5e5
}

section ul {
	list-style: none
}

section ul li i {
	margin-right: 10px
}