<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<errorHandler class="org.jboss.logging.util.OnlyOnceErrorHandler" />
		<param name="Target" value="System.out" />
		<param name="Threshold" value="DEBUG" />

		<layout class="org.apache.log4j.PatternLayout">
			<!-- The default pattern: Date Priority [Category] Message\n -->
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n" />
		</layout>
	</appender>

	<root>
		<appender-ref ref="CONSOLE" />
	</root>
	<category name="org.vraptor">
		<priority value="INFO" />
		<appender-ref ref="CONSOLE" />
	</category>

	<category name="com.thoughtworks">
		<priority value="INFO" />
		<appender-ref ref="CONSOLE" />
	</category>

	<category name="br.com.caelum.vraptor">
		<priority value="INFO" />
		<appender-ref ref="CONSOLE" />
	</category>

	<category name="org.springframework">
		<priority value="INFO" />
		<appender-ref ref="CONSOLE" />
	</category>

	<category name="org.hibernate">
		<priority value="INFO" />
		<appender-ref ref="CONSOLE" />
	</category>

</log4j:configuration>
